.id-modal,
.id-modal-box {
  z-index: 900;
}

.id-modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.id-modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}

.id-modal-box {
  position: relative;
  width: 80%;
  max-width: 860px;
  margin: 100px auto;
  animation-name: id-modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0,0,.3,1.6);
}

.id-modal-header {
  padding: 13px 80px;
  background: linear-gradient(53.82deg,#1633a3 2.15%,#a514c9 95.03%)!important;
  /* background: #a514c9; */
  color: #ffffff;
}

.id-modal-body {
  background: #ECEFF1;
  padding: 80px 40px;
}

/* Animation */
@-webkit-keyframes id-modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

@keyframes id-modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

/* Aditional Styles */
.id-modal {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: normal;
}

p {
  line-height: 1.4em;
}

.id-modal {
  background: #B0BEC5;
}

/* .id-modal-trigger, button {
  top: 50%;
  left: 50%;
  padding: 20px 40px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.id-modal-trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: ease .2s;
} */

.id-modal-header .close-id-modal {
    text-align: right;
    cursor: pointer;
    right: -30px;
    position: relative;
}

.id-modal button.close-id-modal {
  outline: none;
  background-color: rgb(22, 51, 163) !important;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  text-decoration: none;
  padding-top: 12px;
  height: 46px !important;
  /* width: 100%; */
  /* align-content: center; */
  /* align-items: center; */
}

.id-modal button.close-id-modal:focus {
   outline: 0;
   box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* .id-modal-trigger:hover {
  padding: 20px 60px;
} */

.id-modal input {
    display: block;
    font-family: inherit;
    font-size: 14px;
    background: #fff;
    border: 2px solid rgba(0 ,0 ,0 , .12);
    -webkit-border-radius: 3px;
    -moz-border-radius: 4.3px;
    -o-border-radius: 4.3px;
    border-radius: 4.3px;
    color: rgba(0, 0, 0,.91);
    height: 48px;
    padding: 10px 15px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all.4s;
    -moz-transition: all.4s;
    -ms-transition: all.4s;
    -o-transition: all.4s;
    transition: all.4s;
}

@media all and (max-width: 425px) {
    .id-modal-header {
        padding: 15px 45px;
    }
    .id-modal-body {
        padding: 67px 15px;
    }
}

/* For Input decorations */

.idx_x_verification *:focus {
  outline: none;
}

.idx_x_verification {
  background-color: #efefef;
  padding: 15px 70px;
  font-family: "Open Sans", "Arial", snas-serif;
  overflow: hidden;
}

.idx_x_verification .input-group {
  display: block;
/*   width: 441px; */
  max-width: 100%;
  height: 67px;
  border: 0;
  background-color: #ffffff;
  /* border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px; */
  border-radius: 16px;
  box-shadow: 0 17px 40px 0 rgba(75, 128, 182, 0.07);
  margin-bottom: 22px;
  position: relative;
  font-size: 17px;
  color: #a7b4c1;
  transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out,
    box-shadow 0.1s ease-in-out;
}

.idx_x_verification .group-select {
    width: 441px!important;
}

.idx_x_verification select {
  -webkit-appearance: none;
  -moz-appearance: none;

  text-indent: 0.01px;
  appearance: none;
  background-image: none;
  text-overflow: '';
}

.idx_x_verification select::-ms-expand {
  display: none;
}


.idx_x_verification .input-group:hover {
  box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.077);
}

.idx_x_verification .input-group input, .idx_x_verification .input-group select {
  position: absolute;
  border: 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  height: 63px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  z-index: 3;
  display: block;
  /* color: #1a6fc4; */
  font-size: 17px;
  font-family: "Oxygen", sans-serif;
  transition: top 0.1s ease-in-out;
}

/* .idx_x_verification .input-group select {

} */

.idx_x_verification .input-group input::placeholder, .idx_x_verification .input-group select::placeholder {
  color: rgba(0, 0, 0, 0);
}

.idx_x_verification .input-group input:focus,
.idx_x_verification .input-group input:not(:placeholder-shown), .idx_x_verification .input-group select:focus,
.idx_x_verification .input-group select:not(:placeholder-shown) {
  top: 9px;
}

.idx_x_verification .input-group label {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  cursor: text;
}

.idx_x_verification .input-group input:focus + label,
.idx_x_verification .input-group input:not(:placeholder-shown) + label, .idx_x_verification .input-group select:focus + label,
.idx_x_verification .input-group select:not(:placeholder-shown) + label {
  bottom: 27px;
  font-size: 10px;
  opacity: 0.7;
}

.idx_x_verification .padlock-mark {
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 33px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 22px;
  color: #e0e0e0;
  font-family: "Ubuntu", sans-serif;
}

.idx_x_verification p.submit input.button-primary  {
  overflow: hidden;
	width: 220px;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/* .idx_x_verification p.submit input::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: #37474f;
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.idx_x_verification p.submit input:hover {
	color: #fff;
	border-color: #3f51b5!important;
}


.idx_x_verification p.submit input:hover::before {
	opacity: 1;
	background-color: #3f51b5!important;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.idx_x_verification p.submit input:hover::before {
	background-color: #fff!important;
} */